<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>GPI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8"/>

        <meta data-template="config:app-meta"/>
        <link rel="icon" href="resources/favicon/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" href="resources/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/index.css" id="index-css" disabled="true"/>
        <script src="resources/lib/jquery/dist/jquery.min.js"></script>
        <script src="resources/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    </head>
    <body id="body">
        <nav class="navbar navbar-default navbar-fixed-top">
            <button class="hamburger hamburger--collapse"
                type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            <ul>
                <li><a href="index.html" class="front-page">Home</a></li>
                <li><a href="poem/index.html">Poems</a></li>
                <li class="logo"><a href="index.html">GPI</a></li>
                <li><a href="object/index.html">Personifications</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>

        <main id="content">
            <!--MAIN STUFF GOES HERE-->
        </main>

        <footer class="footer">
            <div class="container">
                <div id="footer_links">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="https://docs.dhil.lib.sfu.ca/privacy.html" target="_blank">Privacy</a></li>
                        <li><a href="poem/index.html">Poems</a></li>
                        <li><a href="object/index.html">Personifications</a></li>
                    </ul>
                </div>

                <div id="footer_imgs">
                    <a href="https://www.lib.sfu.ca/help/publish/dh/dhil">
                        <img class="dhilLogo" src="resources/images/DHIL-Logo-Horizontal.png" alt="Built by the DHIL"/>
                    </a>
                    <a href="https://www.sshrc-crsh.gc.ca/">
                        <img src="resources/images/sshrc-inverse.jpg" alt="Research supported by SSHRC"/>
                    </a>

                </div>

            </div>

        </footer>
        <script src="resources/js/gpi.js"></script>

        <script src="../resources/lib/tablesorter/dist/js/jquery.tablesorter.min.js"></script>
        <script>
            (function($){
                $(function(){
                    $('table.sortable').tablesorter();
                });
            })(jQuery);
        </script>

        <script type="text/javascript">
            var _paq = window._paq = window._paq || [];
            _paq.push(["setDomains", ["dhil.lib.sfu.ca/gpi"]]);
            _paq.push(["setDoNotTrack", true]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//matomo.lib.sfu.ca/library/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '43']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript>
            <p><img src="https://matomo.lib.sfu.ca/library/matomo.php?idsite=43&amp;rec=1" style="border:0;" alt="" /></p>
        </noscript>
    </body>
</html>